@import url('https://fonts.googleapis.com/css?family=Cinzel');
.academy ul li::before {
    color: #FEC10B;
    /* color of bullet or square */
    content: "\2022";
}

.abt-guru ul li {
    margin-bottom: 0.5%;
}

.academy ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.levels ul li::before {
    color: #FEC10B;
    /* color of bullet or square */
    content: "\2022";
    margin-left: -8px;
}

.levels ul {
    list-style: none;
    font-weight: lighter;
    font-size: 18px;
    line-height: 1.6;
    margin-left: -8% !important;
}

.curriculam ul li::before {
    color: #FEC10B;
    /* color of bullet or square */
    content: "\2022";
    margin-left: -8px;
}

.curriculam ul {
    list-style: none;
    font-weight: lighter;
    font-size: 18px;
    line-height: 1.6;
    margin-left: -4% !important;
}

.abt-guru ul li::before {
    color: #FEC10B;
    /* color of bullet or square */
    content: "\2022";
    margin-left: -8px;
}


a:hover {
    color: #FEC10B;
    text-decoration: none;
    cursor: pointer;
}


.nav-links a:hover {
    color: #FEC10B;
    text-decoration: none;
    cursor: pointer;
}

.footer a:hover {
    color: #FEC10B;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #000000;
}

.abt-guru ul {
    list-style: none;
    font-weight: lighter;
    font-size: 18px;
    line-height: 1.6;
    margin-left: -4% !important;
}

footer a,
.footer a {
    text-decoration: none !important;
    color: white;
}

.left-button {
    margin-top: 11%;
}

.card-title {
    font-family: Cinzel;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 16px;
    border-bottom: 4px solid rgba(254, 193, 11, 0.3);
    display: inline-block;
}

.card-subtitle {
    font-size: 18px;
    margin-top: 0px;
}

.beg-design {
    width: 100%;
    margin-top: -20%;
}

.int-design {
    width: 100%;
    margin-top: -10%;
    margin-left: 4%;
}

.adv-design {
    width: 70%;
    margin-top: -10%;
    margin-left: 20%;
}

footer img {
    width: 36px;
}

.know-more {
    text-decoration: none !important;
    color: #FEC10B;
}

.social-icons {
    margin-top: -6%;
}

footer {
    height: 260px;
    font-family: Cinzel;
}

nav {
    height: 10vh;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: Cinzel;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.connectme {
    line-height: 1.4;
    text-align: center;
    font-family: cinzel;
    font-size: 28px;
    margin-bottom: 32px;
    margin-top: 60px;
}

.connectme-deco {
    height: 30px;
    opacity: .5;
    margin: 0px 15px;
}

.connectme span {
    border-bottom: 4px solid rgba(254, 193, 11, 0.3);
    display: inline-block
}

@media screen and (max-width: 768px) {
    .left-button {
        margin-top: 0;
    }
    .academy ul {
        margin-left: -12% !important;
    }
    .card {
        margin-bottom: 4%;
    }
    footer img {
        display: none;
    }
    .quote {
        width: 100% !important;
    }
    footer .col-md-2 {
        margin-bottom: 10px;
    }
    .col-md-5 {
        margin-top: 80px;
    }
    .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }
    .corner-design {
        display: none;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 3;
    }
    .nav-links {
        position: fixed;
        background: #FEC10B;
        color: black;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 2;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 100;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 100;
    }
}


/* titlehead */

.titleheadtab {
    display: none;
}

.titleheadmob {
    display: none;
}

.titledeco {
    height: 45px;
    opacity: .5;
    margin: 0px 30px;
}

.title {
    line-height: 0;
    text-align: center;
    font-family: cinzel;
    font-size: 36px;
    margin-bottom: 32px;
    margin-top: 60px;
}

.title span {
    border-bottom: 14px solid rgba(254, 193, 11, 0.3);
    display: inline-block
}

@media screen and (max-width: 768px) {
    .titleheadtab {
        display: block;
    }
    .titlehead {
        display: none;
    }
    .removemargin {
        margin-top: 0px;
    }
    #gurutab {
        font-size: 32px;
    }
    #gurutab .titledeco {
        margin: 0px 8px;
    }
}


/*  */

.card {
    border: 1px solid #FEC10B !important;
}

.hireme-category {
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 16px;
    border-bottom: 4px solid rgba(254, 193, 11, 0.3);
    display: inline-block;
}

.curr-category {
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-transform: capitalize;
    border-bottom: 4px solid rgba(254, 193, 11, 0.3);
    display: inline-block;
}

.workshop-category {
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-transform: capitalize;
    border-bottom: 4px solid rgba(254, 193, 11, 0.3);
    display: inline-block;
}

.btn {
    background-color: #333333;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
}

.aboutcontent {
    font-weight: lighter;
    font-size: 18px;
    line-height: 1.6;
}

#boldit {
    font-weight: bold;
}

.row-border {
    padding: 16px;
    border: 1px solid #FEC10B;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
}

@media screen and (max-width: 1024px) {
    .verticalit {
        display: flex;
        flex-direction: column;
    }
    .academy ul {
        padding: 32px;
        list-style: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .hireme-category {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 450px) {
    .titleheadmob {
        display: block;
    }
    .titleheadtab {
        display: none !important;
    }
    .titledeco {
        height: 32px;
        margin: 0px 16px;
    }
    .title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .title span {
        border-bottom: 10px solid rgba(254, 193, 11, 0.3);
    }
    .connectme {
        font-size: 22px;
        margin-bottom: 32px;
        margin-top: 60px;
    }
    .connectme-deco {
        display: none;
    }
    .beg-design {
        width: 60%;
        margin-top: 8px;
    }
    .int-design {
        width: 70%;
        margin-top: 8px;
        margin-left: 4%;
    }
    .adv-design {
        width: 50%;
        margin-top: 8px;
        margin-left: 20%;
    }
    .workshop-category {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .titledeco {
        height: 28px;
        margin: 0px 16px;
    }
    .title {
        font-size: 22px;
        margin-bottom: 20px;
    }
}

button.show.collapsed:before {
    content: 'More';
    display: block;
}

button.show:before {
    content: 'Less';
    display: block;
}


/* Contact */

.contactpage {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 32px;
    padding-bottom: 96px;
}

.contact-text {
    font-size: 22px;
    line-height: 1.4;
    font-weight: lighter;
}

.contactpage button {
    border-width: 2px;
    font-size: 22px;
    padding: 8px 48px;
    background-color: #333333;
    border: none;
}

.contactpage h3 {
    font-size: 20px;
    color: #333333;
    margin-top: 32px;
    text-align: center;
}

.footer {
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    .contact-text {
        font-size: 18px;
    }
    .contactpage button {
        font-size: 16px;
    }
    .contactpage h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .contactpage {
        margin-top: 16px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .contact-text {
        font-size: 16px;
    }
    .contactpage button {
        margin-top: 8px;
        font-size: 16px;
    }
    .contactpage h3 {
        margin-top: 16px;
        font-size: 14px;
    }
}