@import url('https://fonts.googleapis.com/css?family=Cinzel');
.academy ul li::before {
    color: #FEC10B;
    /* color of bullet or square */
    content: "\2022";
}

.abt-guru ul li {
    margin-bottom: 0.5%;
}

.academy ul {
    list-style: none;
}

.left-button {
    margin-top: 11%;
}

.card-title {
    font-family: Cinzel;
}

h4 {
    font-family: Cinzel;
}

footer img {
    width: 36px;
}

.know-more {
    text-decoration: none !important;
}

.social-icons {
    margin-top: -6%;
}

footer {
    height: 230px;
    font-family: Cinzel;
}

nav {
    height: 10vh;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: Cinzel;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .left-button {
        margin-top: 0;
    }
    .card {
        margin-bottom: 4%;
    }
    footer img {
        display: none;
    }
    .quote {
        width: 100% !important;
    }
    footer .col-md-2 {
        margin-bottom: 10px;
    }
    .col-md-5 {
        margin-top: 80px;
    }
    .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }
    .corner-design {
        display: none;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 3;
    }
    .nav-links {
        position: fixed;
        background: #FEC10B;
        color: black;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 2;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 100;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 100;
    }
}