@import url('https://fonts.googleapis.com/css?family=Cinzel');
.body {
    background-color: #FFFDFA;
}


/* titlehead */

.titleheadtab {
    display: none;
}

.titleheadmob {
    display: none;
}

.titledeco {
    height: 45px;
    opacity: .5;
    margin: 0px 30px;
}

.title {
    line-height: 0;
    text-align: center;
    font-family: cinzel;
    font-size: 36px;
    margin-bottom: 32px;
    margin-top: 60px;
}

.title span {
    border-bottom: 14px solid rgba(254, 193, 11, 0.3);
    display: inline-block
}


/*  */

.test-cards .card {
    background-color: #FFFDFA;
}

.test-qoute {
    width: 15%;
    margin-bottom: 8px;
}

.card-text {
    margin-bottom: 16px;
}

.profile {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

.test-cards h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
}

.test-cards h4 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 4px;
    color: #333333;
}

.test-mob {
    display: none;
}

.connectme {
    line-height: 1.4;
    text-align: center;
    font-family: cinzel;
    font-size: 28px;
    margin-bottom: 32px;
    margin-top: 60px;
}

.connectme-deco {
    height: 30px;
    opacity: .5;
    margin: 0px 15px;
}


/* carousel */

.carousel-caption {
    z-index: 1;
}

.carousel-indicators {
    z-index: 1;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    right: 10px;
    left: auto;
    width: auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.carousel-indicators li {
    display: block;
    margin-bottom: 5px;
    border: 1px solid white;
    border-radius: 1px;
    background-color: white;
}

.carousel-indicators li.active {
    margin-bottom: 5px;
    background: rgb(254, 193, 11, .8);
    border: 1px solid #FEC10B;
}

.bg-cover {
    width: 100%;
    height: 472px;
    background-size: cover;
    border-radius: 4PX;
}


/*  */

.qoute {
    font-size: 24px;
    font-family: Cinzel;
    text-align: center;
    margin: 60px;
}

.card {
    border: 1px solid #FEC10B !important;
}

.hireme-category {
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-transform: capitalize;
}

.hireme-category {
    border-bottom: 4px solid rgba(254, 193, 11, 0.3);
    display: inline-block;
}

.btn {
    background-color: black;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
}

h6 {
    padding-top: 8px;
    font-size: 16px;
    color: #4D4D4D;
}

.aboutcontent {
    font-weight: lighter;
    font-size: 22px;
    line-height: 34px;
}

#boldit {
    font-weight: bold;
}

footer a,
.footer a {
    text-decoration: none !important;
    color: white;
}

.row-border {
    padding: 32px;
    border: 1px solid #FEC10B;
    ;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 4px;
}

@media screen and (max-width: 1024px) {
    .reverseit {
        display: flex;
        flex-direction: column-reverse;
    }
    .verticalit {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .titleheadtab {
        display: block;
    }
    .titlehead {
        display: none;
    }
    .profile {
        width: 60px !important;
        margin-top: 12px;
    }
    .test-cards .card {
        margin-bottom: 24px !important;
    }
    footer img {
        display: none;
    }
    footer .col-md-2 {
        margin-bottom: 8px;
    }
    .profile {
        border-radius: 50%;
        height: 60px;
        width: 60px;
    }
    .test-cards h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 4px;
        margin-left: 8px;
        line-height: 1;
    }
    .test-cards h4 {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 4px;
        margin-left: 8px;
        line-height: 1;
        color: #333333;
    }
}

@media screen and (max-width: 450px) {
    .hireme-category {
        font-size: 24px;
    }
    .aboutcontent {
        font-size: 18px;
        line-height: 28px;
    }
    .hireimg {
        width: 100%;
    }
    .row-border {
        padding: 16px;
        border: 1px solid #FEC10B;
        ;
        margin-left: 8px;
        margin-right: 8px;
        border-radius: 4px;
    }
    .qoute {
        font-size: 18px;
        margin: 24px;
    }
    .carousel-indicators {
        margin-right: -40px;
    }
    .titleheadmob {
        display: block;
    }
    .titleheadtab {
        display: none !important;
    }
    .titledeco {
        height: 36px;
        margin: 0px 20px;
    }
    .title {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .title span {
        border-bottom: 10px solid rgba(254, 193, 11, 0.3);
    }
    .connectme {
        font-family: cinzel;
        font-size: 24px;
        margin-bottom: 24px;
        margin-top: 60px;
    }
    .connectme-deco {
        height: 24px;
        opacity: .5;
        margin: 0px 8px;
    }
    .profile {
        border-radius: 50%;
        height: 64px;
        width: 64px !important;
    }
    .test-cards h3 {
        font-size: 20px;
    }
    .test-cards h4 {
        font-size: 16px;
        color: #333333;
    }
    .test-mob {
        display: block;
        margin-left: -8px;
    }
    .test-all {
        display: none;
    }
}


/*nav n footer css*/

footer img {
    width: 36px;
}

.social-icons {
    margin-top: -6%;
}

footer {
    height: 230px;
    font-family: Cinzel;
}

nav {
    height: 10vh;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: Cinzel;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }
    .corner-design {
        display: none;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 3;
    }
    .nav-links {
        position: fixed;
        background: #FEC10B;
        color: black;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 2;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 100;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 100;
    }
}