@import url('https://fonts.googleapis.com/css?family=Cinzel');
nav {
    height: 10vh;
}

.corner-design {
    opacity: 0.5;
}

footer {
    font-family: Cinzel;
    font-size: 15px;
}

footer img {
    width: 36px;
}

a:hover {
    color: #FEC10B;
    text-decoration: none;
    cursor: pointer;
}

.nav-links a:hover {
    color: #FEC10B;
    text-decoration: none;
    cursor: pointer;
}

.footer a:hover {
    color: #FEC10B;
    text-decoration: none;
    cursor: pointer;
}

.social-icons {
    margin-top: -6%;
}

footer {
    height: 260px;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: Cinzel;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #000000;
}



.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

iframe {
    border-radius: 8px !important;
    padding: 8px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .15);
}

footer a,
.footer a {
    text-decoration: none !important;
    color: white;
}


/* titlehead */

.titleheadtab {
    display: none;
}

.titleheadmob {
    display: none;
}

.titledeco {
    height: 45px;
    opacity: .5;
    margin: 0px 30px;
}

.title {
    line-height: 0;
    text-align: center;
    font-family: cinzel;
    font-size: 36px;
    margin-bottom: 32px;
    margin-top: 60px;
}

.title span {
    border-bottom: 14px solid rgba(254, 193, 11, 0.3);
    display: inline-block
}

.my-work .quote {
    font-family: Cinzel;
    font-size: 28px;
    margin-top: 4%;
}

.subtitle {
    line-height: 1.4;
    text-align: center;
    font-family: cinzel;
    font-size: 28px;
    margin-bottom: 32px;
    margin-top: 60px;
}

.subtitle-deco {
    height: 30px;
    opacity: .5;
    margin: 0px 15px;
}

.subtitle span {
    border-bottom: 4px solid rgba(254, 193, 11, 0.3);
    display: inline-block
}

.music-albums .container {
    width: 80%;
}

.album .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #333333;
}

.music-links {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    margin-top: 8px;
}

.album .card-subheading {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 8px;
    margin-top: -2px;
    color: #888888;
}

.morerow {
    margin-top: 32px;
}

.btn {
    background-color: #FEC10B;
    color: #111111;
    text-align: center;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 600;
}

.loved-my-work .btn {
    margin-bottom: 8px;
}

button.show.collapsed:before {
    content: 'Show More';
    display: block;
}

button.show:before {
    content: 'Show Less';
    display: block;
}

.smallscreen {
    display: none;
}

.social-links {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    margin-top: 8px;
}

.connectme {
    line-height: 1.4;
    text-align: center;
    font-family: cinzel;
    font-size: 28px;
    margin-bottom: 32px;
    margin-top: 60px;
}

a {
    color: inherit;
}

.connectme-deco {
    height: 30px;
    opacity: .5;
    margin: 0px 15px;
}

.connectme span {
    border-bottom: 4px solid rgba(254, 193, 11, 0.3);
    display: inline-block
}

.connectme-link {
    text-align: center;
    /* font-family: cinzel; */
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 28px;
}

.connectme-social {
    margin-right: 8px;
    height: 36px;
    width: 36px;
}

.toyt {
    margin-top: 32px;
}

@media screen and (max-width: 768px) {
    .corner-design {
        display: none;
    }
    .quote-img {
        margin-top: 40px;
    }
    .music-albums .card {
        margin-bottom: 32px;
    }
    iframe {
        margin-bottom: 40px;
    }
    .toyt {
        margin-top: -16px;
    }
    footer .col-md-2 {
        margin-bottom: 8px;
    }
    footer img {
        display: none;
    }
    .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }
    .corner-design {
        display: none;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 3;
    }
    .nav-links {
        position: fixed;
        background: #FEC10B;
        color: black;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 2;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 100;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 100;
    }
    .titleheadtab {
        display: block;
    }
    .titlehead {
        display: none;
    }
    .my-work .quote {
        font-family: Cinzel;
        font-size: 22px;
        margin-top: 4%;
    }
    .subtitle {
        font-size: 22px;
        margin-bottom: 32px;
        margin-top: 60px;
    }
    .album .card-title {
        font-size: 20px;
    }
    .music-links {
        width: 24px;
        height: 24px;
        margin-right: 6px;
    }
    .album .card-subheading {
        font-size: 16px;
    }
    .morerow {
        margin-top: 0px;
    }
    .music-albums .container {
        width: 100%;
    }
    .connectme {
        font-size: 22px;
        margin-bottom: 32px;
        margin-top: 60px;
    }
    .connectme-deco {
        display: none;
    }
    .connectme-link {
        font-size: 20px;
    }
    .connectme-social {
        height: 28px;
        width: 28px;
    }
}

@media screen and (max-width: 450px) {
    .titleheadmob {
        display: block;
    }
    .titleheadtab {
        display: none !important;
    }
    .titledeco {
        height: 36px;
        margin: 0px 20px;
    }
    .title {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .title span {
        border-bottom: 10px solid rgba(254, 193, 11, 0.3);
    }
    .album .card-title {
        font-size: 22px;
    }
    .music-links {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
    .album .card-subheading {
        font-size: 18px;
    }
    .bigscreen {
        display: none;
    }
    .smallscreen {
        display: block;
    }
    .removeinsmall {
        display: none;
    }
}


/* Contact */

.contactpage {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 32px;
    padding-bottom: 96px;
}

.contact-text {
    font-size: 22px;
    line-height: 1.4;
    font-weight: lighter;
}

.contactpage button {
    border-width: 2px;
    font-size: 22px;
    padding: 8px 48px;
    background-color: #333333;
    border: none;
    color: #ffffff;
}

.contactpage h3 {
    font-size: 20px;
    color: #333333;
    margin-top: 32px;
    text-align: center;
}

.footer {
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    .contact-text {
        font-size: 18px;
    }
    .contactpage button {
        font-size: 16px;
    }
    .contactpage h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .contactpage {
        margin-top: 16px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .contact-text {
        font-size: 16px;
    }
    .contactpage button {
        margin-top: 8px;
        font-size: 16px;
    }
    .contactpage h3 {
        margin-top: 16px;
        font-size: 14px;
    }
}