    .news-start {
        margin-top: 32px;
    }
    
    .cta {}
    
    .card-text {
        height: 100px;
    }
    
    .my-work {
        margin-top: 80px;
    }
    
    .my-work-start {
        margin-top: 32px;
    }
    
    .card-subheading {
        color: #4D4D4D;
        opacity: 0.5;
        margin-top: -5%;
    }
    
    .album-art {
        margin-top: -5%;
    }
    
    .academy {
        margin-top: 80px;
    }
    
    .Learn {
        margin-top: 32px;
        font-weight: bold;
    }
    
    ul {
        list-style: none;
    }
    
    ul li::before {
        content: "\2B24 ";
        color: #FEC10B;
        margin-left: -2em;
    }
    
    .black-bg {
        background-color: #1A160E;
    }
    
    .inside-hire-me {
        margin-left: 24px;
        margin-top: 24px;
    }
    
    .btn-warning {
        font-weight: bold;
        font-size: 30px;
    }