@import url('https://fonts.googleapis.com/css?family=Cinzel');

/* titlehead */

.titleheadtab {
    display: none;
}

.first-car {
    color: black;
}

footer a,
.footer a {
    text-decoration: none !important;
    color: white;
}

.titleheadmob {
    display: none;
}

.titledeco {
    height: 45px;
    opacity: .5;
    margin: 0px 30px;
}

.title {
    line-height: 0;
    text-align: center;
    font-family: cinzel;
    font-size: 36px;
    margin-bottom: 32px;
    margin-top: 60px;
}

.title span {
    border-bottom: 14px solid rgba(254, 193, 11, 0.3);
    display: inline-block
}

.academy .row-border {
    padding: 16px;
    border: 1px solid #FEC10B;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
}

.news-title {
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-transform: capitalize;
    border-bottom: 4px solid rgba(254, 193, 11, 0.3);
    display: inline-block;
}

.news-start .btn {
    padding: 4px 8px;
    font-size: 14px;
}

.newimg {
    width: 100%;
}

.music-albums .container {
    width: 80%;
}

.album .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #333333;
}

.music-links {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    margin-top: 8px;
}

.album .card-subheading {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 8px;
    margin-top: -2px;
    color: #888888;
}

.toyt {
    margin-top: 32px;
}

.yt-vids .btn {
    background-color: #FEC10B;
    color: #fff;
    text-align: center;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
}

iframe {
    border-radius: 8px !important;
    padding: 8px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .15);
}

.academy {
    margin-top: 80px;
}

.academy ul li::before {
    color: #FEC10B;
    /* color of bullet or square */
    content: "\2022";
}

.academy ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.hireme-category {
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 16px;
    border-bottom: 4px solid rgba(254, 193, 11, 0.3);
    display: inline-block;
}

.aboutcontent {
    font-weight: lighter;
    font-size: 18px;
    line-height: 1.6;
}

.learn {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin: 32px 16px 0px 16px;
}

.social-links {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    margin-top: 8px;
}

.loved-my-work .btn {
    margin-bottom: 8px;
    background-color: #FEC10B;
    color: #111111;
    text-align: center;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}


/* carousel */

.carousel-caption {
    z-index: 1;
    bottom: 70%;
}

.carousel-caption h3 {
    font-size: 24px;
}

.carousel-caption button {
    font-size: 16px;
    margin-top: 4px;
}

@media screen and (max-width: 375px) {
    .third {
        bottom: 64%;
    }
}

.carousel-indicators {
    z-index: 1;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    right: 10px;
    left: auto;
    width: auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.carousel-indicators li {
    display: block;
    margin-bottom: 5px;
    border: 1px solid white;
    border-radius: 1px;
    background-color: white;
}

.carousel-indicators li.active {
    margin-bottom: 5px;
    background: rgb(254, 193, 11, .8);
    border: 1px solid #FEC10B;
}

.bg-cover {
    width: 100%;
    height: 472px;
    background-size: cover;
    border-radius: 4PX;
}

.news-start {
    margin-top: 32px;
}

nav {
    height: 10vh;
}

footer {
    font-family: Cinzel;
    font-size: 15px;
}

.carousel-indicators {
    z-index: 1;
}

.corner-design {
    opacity: 0.5;
}

.title-head {
    width: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: Cinzel;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }
    .card {
        margin-top: 5%;
    }
    .footer img {
        display: none;
    }
    .footer .col-md-2 {
        margin-top: 2%;
    }
    .mob-foot {
        height: 300px;
        background: black;
    }
    .corner-design {
        display: none;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 3;
    }
    .nav-links {
        position: fixed;
        background: #FEC10B;
        color: black;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 2;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 100;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 100;
    }
    .news-cards {
        display: none;
    }
    .album .card-title {
        font-size: 20px;
    }
    .music-links {
        width: 24px;
        height: 24px;
        margin-right: 6px;
    }
    .album .card-subheading {
        font-size: 16px;
    }
    .music-albums .container {
        width: 100%;
    }
    .music-albums .card {
        margin-bottom: 32px;
    }
    .toyt {
        margin-top: -16px;
    }
    iframe {
        margin-bottom: 40px;
    }
}

.my-work {
    margin-top: 80px;
}

.my-work-start {
    margin-top: 32px;
}

footer img {
    width: 36px;
}

.social-icons {
    margin-top: -6%;
}

footer {
    height: 230px;
}

.btn-warning {
    font-weight: bold;
    font-size: 30px;
}

* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

.footer {
    margin-top: 32px;
    background: black;
    color: white;
    height: 254px;
    position: relative;
}

@media screen and (max-width: 927px) {
    .social-icons {
        margin-top: 3%;
    }
}

@media screen and (max-width: 768px) {
    .titleheadtab {
        display: block;
    }
    .titlehead {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .carousel-indicators {
        margin-right: -40px;
    }
    .titleheadmob {
        display: block;
    }
    .titleheadtab {
        display: none !important;
    }
    .titledeco {
        height: 36px;
        margin: 0px 20px;
    }
    .title {
        font-size: 28px;
        margin-bottom: 5px;
        margin-top: 32px;
    }
    .title span {
        border-bottom: 10px solid rgba(254, 193, 11, 0.3);
    }
    .news-start {
        margin-top: 0px;
    }
    .album .card-title {
        font-size: 22px;
    }
    .music-links {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
    .album .card-subheading {
        font-size: 18px;
    }
}


/* Contact */

.contactpage {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 32px;
    padding-bottom: 96px;
}

.contact-text {
    font-size: 22px;
    line-height: 1.4;
    font-weight: lighter;
}

.contactpage button {
    border-width: 2px;
    font-size: 22px;
    padding: 8px 48px;
    background-color: #333333;
    border: none;
}

.contactpage h3 {
    font-size: 20px;
    color: #333333;
    margin-top: 32px;
    text-align: center;
}

.footer {
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    .contact-text {
        font-size: 18px;
    }
    .contactpage button {
        font-size: 16px;
    }
    .contactpage h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .contactpage {
        margin-top: 16px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .contact-text {
        font-size: 16px;
    }
    .contactpage button {
        margin-top: 8px;
        font-size: 16px;
    }
    .contactpage h3 {
        margin-top: 16px;
        font-size: 14px;
    }
}